.winner-outer{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#one{
    scale: 1.2;
    margin-left: 20px;
    margin-right: 20px;
}
.winner-card{
    max-width: 500px;
    background: rgba( 255, 255, 255, 0.15 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    text-align: left !important;
}
.winner-card .winner-img img{
    max-width: 350px;
    border-radius: 10px;
}

.win-team-name{
    font-size: 25px;
}
.position{
    font-size: 70px;
    margin-right: 20px;
}

@media (max-width:1250px) {
    .winner-card .winner-img img{
        max-width: 260px;
    }
}

@media (max-width:992px) {
    .winner-card .winner-img img{
        max-width: 300px;
    }
    .winner-inner{
        margin-top: 150px;
        flex-direction: column;
        /* margin-bottom: 200px; */
    }
    .winner-outer{
        width: unset;
        height: unset;
    }
    #one{
        order: 1;
        -webkit-order: 1;
    }
    #two{
        order: 2;
        -webkit-order: 2;
    }  
    #three{
        order: 3;
        -webkit-order: 3;
    }
    #one{
        scale: 1;
        margin-left: initial;
        margin-right: initial;
    }
}
