.team{
    display: flex;
    justify-content: space-evenly;
        font-style: Bold;
Font-size: 48px
}
.join-btn{
    background-color: #FF5A05;
    color: white !important;


    font-size: 18px;
    font-weight: 500;
}