

  .gallery-container .modal-content{
    position: relative;
    background-color: transparent;
    color: white !important;
    text-align: left;
    padding-top: 40px;
    border: 0;
  }
  .gallery-container .heading{
    margin-bottom: 50px !important;
  }
  .gallery-container .heading-container{
    padding: 0;
  }
  .gallery-container .modal{
    pointer-events: none;
  }
  .gallery-container .btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .gallery-container .modal-body{
    max-width: 40%;
  }
  .gallery-container .modal-img{
    width: 30%;
  }
  @media (max-width:1200px) {
    .gallery-container .modal-body{
      max-width: 50%;
    }
    .gallery-container .modal-img{
      width: 40%;
    }
  }
  @media (max-width:992px) {
    .gallery-container .modal{
      pointer-events: all;
      margin-top: 80px;
    }
    .gallery-container .modal-body{
      padding: 20px !important;
      max-width: 100%;
    }
    .gallery-container .modal-dialog{
      display: block;
      height: 800px !important;
    }
    .gallery-container .modal-img{
      width: 70%;
    }
  }



  /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.gallery-container img{
  width: 257px;
}