.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */


.footer {
  flex-shrink: 0;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

@media (max-width: 440px) {
  .about-container{
    transform: scale(0.75);
    margin-top: -600px;
    margin-bottom: -600px;
  }
  .about-container .two-margin-top{
    margin-top:100px !important;
  }
  .small-mobile{
    transform:scale(0.75);

  }
  .img-scale{
    transform: scale(1.34);
  }
  .small-mobile-hero{
    transform: scale(0.75);
        margin-top: -1050px;
          margin-bottom: -1050px;

  }
  .raghav-ansh-table{
    position: relative;
  }
  .raghav-ansh{
    margin-top: 200px !important;
  }
  .table-auto{
    width: 520px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .small-mobile3{
    transform: scale(0.75);
    margin-top:-15vh;
      margin-bottom: -30vh;
  }
  .small-mobile4{
    transform: scale(0.75);
    margin-top:15vh;
      margin-bottom: -10vh;
  }
}
@media (max-width: 395px){
  .small-mobile-hero{
    transform: scale(0.75);
        margin-top: -1150px;
          margin-bottom: -1150px;

  }
}
@media (max-width: 360px){
  .small-mobile-hero{
    transform: scale(0.75);
        margin-top: -170vh;
          margin-bottom: -130vh;

  }
}

.timeline-container img{
  width: stretch;
}

@media (max-width:767px) {
  .timeline-container{
    width: 100%;
    position: relative;
  }
  .timeline-container .timeline-box{
    position: absolute;
    right: 0;
    overflow-x: scroll;

  }
  .timeline-container img{
    width: 1200px;
    height: 400px;
  }
}


