.hero-container .title{
    font-size: 70px;
    letter-spacing:0.1rem;
    font-weight: 700;
}
.vr-timer{
    background-image: url("../Images/VR\ Glasses\ 1.png");
    background-size: cover;
    background-position-x: center;
}
.hero-container{
    margin-top: 150px;
}
.timer{
    font-size: 78px;
    letter-spacing: 5px;
}
.hero-container .list-group-item
{
    color: white;
    background-color: transparent;
    border:0 !important;
}
.hero-container .list-group-horizontal{
    width: 75%;
  justify-content: space-evenly;
}
.register-btn{
    background-color: #FF5A05;
    color: white;
    border-radius: 5px;
}