footer{
    background: linear-gradient(180deg, #010B56 0%, #000422 100%);
box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.25);
border-radius: 50px 50px 0px 0px;
overflow: hidden;
margin-top: 150px;
}
.footer {
    background: linear-gradient(180deg, #010B56 0%, #000422 100%);
    text-align: center;
}

.footer_social a{
     font-size: xx-large;
}
.footer-link {
  font-size: 17px;
  padding: 15px 35px;
  border-radius: 5px;
  outline: 2px solid #FF5A05;
  outline-offset: 0px;
  background: #FF5A05;
  border: 0;
  font-weight: bolder;
  color: white;
  transition: all .1s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  }
  
  .footer-link:hover {
    outline-offset: 3px;
    color: #FF5A05;
    background: transparent;
    outline: 3px solid #FF5A05;
  }
  
  .footer-link:focus{
    outline-offset: 3px;
    color: #FF5A05 !important;
    background: transparent;
    outline: 3px solid #FF5A05 !important;
  }
  
  