footer{
    background: linear-gradient(180deg, #010B56 0%, #000422 100%);
box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.25);
border-radius: 50px 50px 0px 0px;
overflow: hidden;
margin-top: 150px;
}
.footer {
    background: linear-gradient(180deg, #010B56 0%, #000422 100%);
    text-align: center;
}

.footer_social a{
    background: white;
    padding: 5px;
    padding-top: 1px;
    border-radius: 50%;
}
.footer-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #fff;
    color: #010B56;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .footer-link:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .footer-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px #010B56;
  }
  
  .footer-link:active {
    transform: translateY(1px);
  }
  
  