.contact{
    font-family:'Outfit';
    flex-direction: column;


}
.no-border {
    border: none;
  }
  .contact-form input::placeholder {
    color: #e4e4e4;
    font-size: 16px;
  }
  .contact-form input {
    border-radius: 0 !important;
    border-bottom: 1px solid #e4e4e4;

  }
  .form-control:focus {
    border-color: white !important;
    box-shadow: none;
  }
  
  .contact-form textarea {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
  }


  @media (max-width:992px) {
    .form input{
      width: 100% !important;
    }
  }
  .form .head {
    text-align: left;
  }
  .join-btn{
    background-color: #FF5A05;
    color: white !important;
    border-radius: 5px;
    padding-left:25px !important;
    padding-right: 25px !important;
    font-size: 20px;
    border: none;
    
}
.form .join-btn {
    padding-top: 10px; /* Adjust the padding value as needed */
    text-align: left;
  }
  .form .join-btn {
    display: flex;
    justify-content: flex-start;
  }
  
  .contact-form textarea {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
    /* Adjust the height and width of the underline */
    background-image: linear-gradient(to right, #e4e4e4, #e4e4e4);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
  }
  .num{
    width: 50%;
  }
  .num-img{
    width: 50%;
  }
  @media (max-width:1200px) {
    .num{
      width: 60%;
    }
    .num-img{
      width: 360px;
    }
    .upes-img{
      height: 280px;
    }
  }
  @media (max-width:992px) {
    .num b{
      margin-right: 0 !important;
    }
    .logo{
      display: flex;
    }
    .upes-img{
      padding: 10px;
      height: min-content;
    }
    .contact-container-box{
      flex-wrap: wrap;
    }
    .num .gap-3{
      justify-content: center !important;
    }
    .num{
      text-align: center !important;
      gap: 1rem;
      width: 100%;
    }
    .num p{
      margin: auto !important;
    }
    .num .ico{
      display: none;
    }
    .num .num-row{
   flex-direction: column !important;
   justify-content: center;
    }
    .num-img{
      width: stretch;
    }
    .contact-box{
      justify-content: center !important;
    }
    .upes-text{
      font-size: 12px;
    }
    .contact_address .text-right{
      text-align: center !important;
    }
  }
  .num .ico{
   max-width: 3%;
   height: 2.8%;
  }
  .socs{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
        text-align: right;
  }
  .container iframe{
    width: 100%;
  }