.rimer{
    background-size: 1000px !important;
    background-position-y: 100px;
}
.rimer-text{
    font-size: 170px;
    color: white;
    z-index: 2;
    position: absolute;
    margin: 0 !important;
    margin-bottom: 80px !important;
}
.rimer img{
width: 1000px;
}