 .join-btn{
    background-color: #FF5A05;
    color: white !important;
    border-radius: 5px;
    padding-left:25px !important;
    padding-right: 25px !important;
    font-size: 18px;
    font-weight: 500;
}
nav{
    transition: all 0.2s linear;
}
nav .navbar-nav{
    gap: 1rem;
}
nav .navbar-nav .nav-link{
    padding-left:25px !important;
    padding-right: 25px !important;
    font-size: 18px;
    font-weight: 600 !important; 
}