
.about-container h1{
    

    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    /* identical to box height, or 59px */
    
    
    color: #E4E4E4;
    text-align: left;
    
    
    }
    .about-container   p{

    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    
    text-align: justify;
    
    color: #E4E4E4;
    
    opacity: 0.7;
    }
    .about-container   .photos{
        float: left;
        display:flex;
    }
    .about-container   .image1{

    /* background: url(glow.png); */
    border-radius: 50px 0px 0px 0px;
    }
    /* .image2{
            position: absolute;
        width: 533.33px;
        height: 538px;
        left: 0px;
        top: 871px;
     
        background: url(glow.png); 
        border-radius: 50px 0px 0px 0px;
        } */
    
        .about-container  .secondheading{
    

    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    /* identical to box height, or 59px */
    
    
    color: #E4E4E4;
    
    text-align: left;
    }
    .about-container  #aboutupes{

    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    
    text-align: justify;
    
    color: #E4E4E4;
    
    opacity: 0.7;
    }
    .about-container  button{

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */
    
    
    color: #E4E4E4;
    
    }
    .about-container .trigger{
        flex: none;
    order: 0;
    flex-grow: 0;
    }
    @media screen and (max-width: 500px) {
        .about-container .column {
          width: 100%;
        }
      }