
    .about-container   p{

    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    
    color: #E4E4E4;
    
    opacity: 0.7;
    }
.about-container .images-container .col{
    height: 400px;
    overflow: hidden;
    padding: 0;
}
    .about-container .images-container img{
        width: 100%;
    }
@media (max-width:1200px) {
    .about-container .images-container .col{
        height: max-content;
    }
    .about-container .images-container img{
        width: 100%;
        object-fit: scale-down;
    }
    .about-container .images-container{
        margin-top: 50px !important;
    }
}
.img-scalel{
    border-top-left-radius: 50px;
}
.img-scaler{
    border-top-right-radius: 50px;
}