
    .about-container   p{

    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    
    color: #E4E4E4;
    
    opacity: 0.7;
    }
.about-container .images-container .col{
    height: 400px;
    overflow: hidden;
    padding: 0;
}
    .about-container .images-container img{
        width: 100%;
    }
@media (max-width:1200px) {
    .about-container .images-container .col{
        height: max-content;
    }
    .about-container .images-container img{
        width: 100%;
        object-fit: scale-down;
    }
    .about-container .images-container{
        margin-top: 50px !important;
    }
}
.img-scalel{
    border-top-left-radius: 50px;
}
.img-scaler{
    border-top-right-radius: 50px;
}


@media (max-width:767px) {
    .img-scalel{
        border-top-left-radius: 20px;
    }
    .img-scaler{
        border-top-right-radius: 20px;
    }
}
.zsiq_custommain img{
    height: 70px !important;
    width: 70px !important;
}
.zsiq_custommain{
    height: auto !important;
    width: auto !important; 
}
 
@media (max-width:555px) {
    .zsiq-newtheme.zsiq_size2[embedtheme], .zsiq-newtheme.zsiq_size3[embedtheme], body .zsiq-mobhgt[embedtheme].zsiq-newtheme{
        max-height: 70% !important;
        height: 70% !important;
        width: 70% !important;
        margin-right: 0 !important;
        margin-left: auto;
    }
    .siq-chat-attender-name{
        font-size: 14px !important;
    }
}